<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand" href="/event"><span style="color: #673AB7; font-size: x-large;">MobuSmartCity</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    
    <!-- <form class="example-form">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search">
      </mat-form-field>
      <button mat-icon-button type="submit"><i class="fa fa-search"></i></button>
    </form> -->
    <!-- my-2 my-lg-0 -->
    <form class="form-inline ml-auto">
      <!-- <mat-form-field class="example-full-width">
        <input matInput placeholder="Search">
      </mat-form-field> -->
      <!-- <button mat-icon-button type="submit"><i class="fa fa-search"></i></button> -->
      <!-- <button class="btn btn-secondary my-2 my-sm-0" [disabled]="!loginForm.valid"  type="submit">Giriş</button> -->
      <!-- <form *ngIf="!isAuthenticated" #loginForm="ngForm" (ngSubmit)="login()" class="form-inline my-2 my-lg-0">
        <input matInput class="form-control mr-sm-2" name="userName" 
        [(ngModel)]="userForLogin.username" required type="text" placeholder="Username">
        <input matInput class="form-control mr-sm-2" name="password" 
        [(ngModel)]="userForLogin.password" required type="password" placeholder="Password">
      </form> -->
      <!-- *ngIf="!isAuthenticated" -->
      <button *ngIf="isAuthenticated()" mat-raised-button (click)="openLoginDialog()" type="submit" class="btn btn-outline-primary">Login</button>
      <button *ngIf="isAuthenticated()" mat-raised-button color="accent" (click)="openRegisterDialog()" type="button" class="btn btn-primary ml-3">SignUp</button>
      <button class="mr-3" mat-stroked-button color="primary" [matMenuTriggerFor]="menu" type="submit" *ngIf="!isAuthenticated()"><span style="font-size: large; margin-right: 10px;">{{loginUsername}}</span>  <i class="fa fa-user fa-3x"></i></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/profile">Profil</button>
        <button mat-menu-item type="submit" (click)="logOut()">Çıkış Yap</button>
      </mat-menu>
    </form>
    
  </div>
</nav>